<article>
    <div class="article-content eng-feedback">
        <p>{{breaklines feedback}}</p>
        <h3>Author: {{approver.first_name}} {{approver.last_name}}</h3>
    </div>
    <div class="eng-rating">
        <img class="eng-stars" src="/images/stars-{{rating}}.png" alt="{{rating}} stars">       
    </div>
</article>
