<article>
    <div class="eng-article-titles">
        <div class="eng-article-resource-text">{{resource_type.title}}</div>
        <div class="eng-article-subject-text">{{resource_subject_area.subject_area}}</div>
     </div>
    <div class="article-content" style="clear:both">
        <h2>{{title}}</h2>
        <p>{{breaklines resource}}</p>
        <h4 id="eng-distance">&nbsp;</h4>
    </div>
    <div class="article-image">
        <a href="/detail/{{id}}">
            <img alt="{{title}}" src="{{resource_image}}"></img>
        </a>
    </div>
    <div class="{{#unless username}}eng-rating{{/unless}}">
        {{#if averageRating}}
            {{#if username}}
                <a class="orange-btn download-link eng-stars" href="/review/{{id}}" ><img src="/images/stars-{{averageRating}}.png" alt="{{averageRating}} stars"></a>
            {{else}}
                <img class="eng-stars" src="/images/stars-{{averageRating}}.png" alt="{{averageRating}} stars">
            {{/if}}
        {{/if}}
    </div>  
    {{#if username}}
        <a class="orange-btn download-link" href="/review/{{id}}" >Review&nbsp;></a>       
    {{/if}}
    <a class="orange-btn download-link" href="/detail/{{id}}" >Read More&nbsp;></a>   
    <div id="eng-lat" style="display:none">{{lat}}</div>     
    <div id="eng-lng" style="display:none">{{lng}}</div>     
</article>
