<!DOCTYPE html>
<html>
    <head>
        {{> head}}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="/js/homeCtrl.js"></script>
    </head>

    {{> head}}
    <body class="careers eng-careers">
        {{> header}}
        <div class="career-finder-module">
            <div >
                <h3>Select focus area...</h3>
                <ul>
                    {{#each careers}}
                        <li class="eng-subject {{cssclass}}" data-id="{{id}}"><a href="/filter?subjectid={{id}}">{{subject_area}}</a></li>
                    {{/each}}
                </ul>
                {{!-- <button class="purple-btn" onclick="goForSearch()" >Help me find my career &gt;</button> --}}
            </div>
            <div class="career-rip"></div>
        </div>
        <span onclick="openNav()" class="eng-filter-button">Filters</span>
        <div class="article-column eng-article-column" style="clear:both">
           {{#each resources}}
                {{> resource username=../session.username }} 
            {{/each}}
        </div>  
        {{> footer}}

        <div id="engSidebar" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="eng-sidebar-filters" >
                <select id="eng-resourcetypefilter" class="eng-filteritem">
                    <option value="" disabled selected>Resource Type</option>
                    {{#each resourcetypes}}
                        <option class="{{cssclass}}" value="{{id}}">{{title}}</option>
                    {{/each}}
                </select>
                <select id="eng-diatancefilter" class="eng-filteritem">
                    <option value="" disabled selected>Distance Away</option>
                    {{#each distances}}
                        <option class="{{cssclass}}" value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
                <div >
                    <label for="agerange" id="agerangelabel">Age range:</label>
                    <input type="text" id="agerange" readonly ">
                </div>
                
                <div id="slider-range" class="eng-filteritem"></div>

            </div>
        </div>
    </body>
</html>